
/************************
 **** ABOUT SECTION *****
 ************************/

section.about {
    min-height: 500px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "title .       photo"
    "boton boton   photo";

  background-color: color(primary);
  font-size: 40px;
  font-weight: normal;
  color: color(mywhite);

}

div.learn_more_btn {
    grid-area: boton;
    bottom: 1em;
    min-width: 30%;
    z-index: 2;
}

.about h1,
.about h2 {
  grid-area: title;
  margin: 0 0.5rem;
  text-transform: capitalize;
  // font-size: .8rem;
}

div.bg {
    grid-area: photo;
}

